{% assign hero = site.sections | where: "_title", "Home" | first %}

<!-- Slider
		============================================= -->
<section class="hero section-horizontal">

	<p class="hero-bg-scroller">ProdiGii Concepts</p>

	
	<div class="particles-scroller">
		<div class="big-particles-1">
			<div class="small-bottom"></div>
			<div class="base"></div>
			<div class="small-top"></div>
		</div>

		<div class="big-particles-1 particles-position-2">
			<div class="small-bottom"></div>
			<div class="base"></div>
			<div class="small-top"></div>
		</div>
	</div>

	<div class="h-100 d-flex flex-row ">

		<div class="row d-flex align-content-center flex-row">
			<div class="hero-img-container w-100 d-flex justify-content-center my-0">
					<img class="hero-logo" style="width: 33%;" src="{{ 'assets/images/logos/PRODIGII LOGO_PRODIGII C WHITE.png' | relative_url}}" />
			</div>

			<div class="hero-feature-carousel row d-flex align-items-center flex-row flex-nowrap ml-5 my-5">
				<div class="col col-4">
					<h1 class="hero-title text-center" >
						Uniquely Crafted Antiguan Designs
					</h1>
				</div>

				{% for item in hero.featuredNav %}

				<div class="col col-3 mx-2 hero-img-framed d-flex justify-content-center align-items-end">
					<img class="img-fluid" src="{{ item.img }}" alt="">
					<button type="button" class="btn btn-primary hero-button">{{ item.label }}</button>
				</div>

				{% endfor %}

			</div>
		</div>


	</div>

</section>