<style>
  .spinner div:first-child:after,
  .spinner div:first-child:before,
  .spinner div:last-child:after,
  .spinner div:last-child:before {
    content: '';
    position: absolute;
    border-radius: 50%
  }

  /* BACKGROUND */
  .spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1004;
    background: #fff;
    overflow: hidden
  }

  /* BLACK */
  .spinner div:last-child {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 165px;
    height: 165px;
    margin: -82.5px 0 0 -82.5px;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 transparent;
    transform: translate3d(0, 0, 0);
    animation: spin 3.5s linear infinite
  }

  /* RED */
  .spinner div:first-child {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgba(255, 56, 106, 1);
    transform: translate3d(0, 0, 0);
    animation: spin 2.5s linear infinite
  }

  /* YELLOW */
  .spinner div:first-child:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    box-shadow: 0 3px 3px 0 rgb(255, 228, 32);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite
  }

  /* BLUE */
  .spinner div:first-child:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
    animation: spin 2 linear infinite
  }

  /* WHITE */
  .spinner div:last-child:after {
    top: 35px;
    left: 35px;
    right: 35px;
    bottom: 35px;
    box-shadow: 0 3px 3px 0 white;
    animation: spin 1.5s linear infinite
  }

  /* ANIMATIONS */

  .fadeOut {
    animation: fadeOut 0.5s linear 0.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @-webkit-keyframes spin {
    0% {
      transform: rotate(0)
    }

    100% {
      transform: rotate(360deg)
    }
  }

  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0)
    }

    100% {
      -moz-transform: rotate(360deg)
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0)
    }

    100% {
      transform: rotate(360deg)
    }
  }
</style>


<style>
  
  #reveal #grid {
	 position: fixed;
	 z-index: 4000;
	 width: 100vw;
	 height: 100vh;
	 display: grid;
	 grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	 grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
   justify-content: center;
   pointer-events: none;
}
 #reveal #grid .grid-item {
	 min-width: 100%;
	 min-height: 100%;
	 background-color: #fff;
	 cursor: pointer;
	 position: relative;
	 outline: 1px black solid;
}
 #reveal #grid .grid-item:hover {
	 opacity: 0.8;
}
 




</style>

<div id="global-spinner" class="spinner">
  <div class="blob blob-0"></div>
  <div class="blob blob-1"></div>
</div>


<section id="reveal">



</section>

<script src="{{'assets/js/anime.min.js'  | relative_url }}"></script>
<script src="{{'https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js'  | relative_url }}"></script>


<script>

  var  total, columns, rows ;
  var animeTl =  anime.timeline({
    loop: false,
    duration: 500,
    easing: 'easeInOutSine',
  })

  document.addEventListener("DOMContentLoaded", (event)=> { 

    loader(()=>{

      let hero = gsap.timeline
      animeTl 

      
      .add({
        targets: ".grid-item",
        backgroundColor: "#ED1C24",
        outline: "1px black solid",
        delay: anime.stagger(40, { grid: [columns, rows]  })
      })	

      .add({
        targets: ".grid-item",
        backgroundColor: "rgba(255, 255, 255, .0)",
        outline: "1px rgba(255, 255, 255, .0) solid",
        delay: anime.stagger(40, { grid: [columns, rows]  }),
      },
      "-=200"
      )
      .add({
        targets: '.hero-logo',
        translateY: ['100%','0%']},
        "-=3000"
      )
      .add({
        targets: '#hero-title',
        translateY: ['50%','0%'],
        opacity: [0, 1],
        duration: 600},
        "-=2800"
      )
      .add({
        targets: '.hero .waves',
        translateY: ['100%','0%'],
        duration: 1000},
        "-=2900"
      )


    })

  });
    
  function loader( callback){

    let grid = '';
    let mapGrid = (x, i) => {
      
    grid += `
      <div
        class="grid-item"
        id="${i}"
      />
      `;
    }

    let handleStagger = (i) => {
      const el = i.target.id;
      anime({
        targets: ".grid-item",
        backgroundColor: randomColor(),
        delay: anime.stagger(50, { grid: [columns, rows], from: el })
      });		
    };

    let getGridSize = () => {
      const columns = Math.floor(document.body.clientWidth / 100);
      const rows = Math.floor(document.body.clientHeight / 100);

      anime({
        targets: ".grid-item",
        duration: 0,
        easing: "linear"
      });

      return { columns, rows, total: rows * columns };
    };

    let gridSize = getGridSize();
    total = gridSize.total;
    columns = gridSize.columns;
    rows = gridSize.rows;

    window.addEventListener("resize", getGridSize);

    let gridArr = new Array(total).fill(0).map(mapGrid)

    // console.log([columns, rows], grid, total);

    $('#reveal').html(
    `<div id="grid">
      ${grid}
    </div>`
    )

    $('.grid-item').on('click', handleStagger)

    setTimeout(callback, 1000)

  }

</script>