<section class="section-solutions ">

  <div class="row h-20 d-flex justify-content-center align-items-center">
    <h2 class="section-title">Solutions</h2>
  </div>
  <div class="row h-80 ">
    <div class="solution-details col-12 col-lg-7 d-flex flex-column h-auto mh-100 align-self-center">
      <div class="solution-title-container mb-3">
        <h3 class="solution-title text-danger">Sargassum Alerts and Monitoring</h3>
      </div>
      <div class="solution-body-container">
        <p class="solution-body">Satelitte Imagery and Remote Sensing powers a mordern Dashboard and App for users to receive Alerts of incoming Sargassum in their area. 
        As well as visualize data and analytics.</p>
      </div>
       <h4 class="solution-cta"><img src="{{'assets/images/gg_arrow-long-up.svg' | relative_url }}" />Access Project</h4>

    </div>
    <div class="col-0 col-lg-3">

    </div>
    <div class="solution-picture col d-flex flex-row align-items-end h-auto">
      <img class="solutions-phone " src="assets/images/phone.png" alt="">
      <img class="solutions-laptop" src="assets/images/laptop.png" alt="">
      <div class="d-flex align-items-center">


      </div>

    </div>    
  </div>

</section>