<section class="section-stories d-flex align-items-center">
    <span class="scrolling-text">
    NADIS
  </span>
  <div class="container">

    <div class="row justify-content-center">
      <h2 class="section-title text-light">Our Story</h2>
    </div>


    <div class="row">

      <div class="story-details col-12 col-lg-7 d-flex flex-column h-auto mh-100 align-self-center">
        <div class="story-title-container mb-3">
         <a href="http://oceangeneration.org/news/plagued-waves/"> <h3 class="story-title text-light">Dadlihack 2.0 Hackathon</h3></a>
        </div>
        <div class="story-body-container">
          <p class="story-body">Designed and pitched solutions for resilent and adaptive industries and infrastructure from Climate Change for SIDS.
          </p>
        </div>

      </div>
      <div class="story-picture col-lg-5 d-flex flex-row align-items-end h-auto">
        <img src="assets/images/post1.jpg" alt="">

      </div>       
    </div>
  </div>

</section>