/* ----------------------------------------------------------------
  Fonts

  Replace your Fonts as necessary
-----------------------------------------------------------------*/


h1,
h2,
h3,
h4,
h5,
h6,
#logo {
  font-family: 'Barlow Condensed', sans-serif;
}

#primary-menu ul li > a,
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a,
#top-search form input,
.entry-link,
.entry.entry-date-section span,
.button.button-desc,
.counter,
label,
.nav-tree li a,
.wedding-head .first-name,
.wedding-head .last-name,
.font-primary,
body,
small,
#primary-menu ul ul li > a,
.wp-caption,
.feature-box.fbox-center.fbox-italic p,
.skills li .progress-percent .counter,
.entry-meta li,
.entry-link span,
.entry blockquote p,
.more-link,
.comment-content .comment-author span,
.button.button-desc span,
.testi-content p,
.team-title span,
.before-heading,
.wedding-head .first-name span,
.wedding-head .last-name span,
.nav-tree ul ul a,
.font-body,
p,
span { font-family: 'Avenir', sans-serif; }

/* p,
span { font-family: 'Roboto', sans-serif !important; } */

@font-face {
  font-family: 'Champagne & Limousines', sans-serif;
  src: url('/assets/fonts/Champagne_Limousines/Champagne & Limousines.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
font-family: 'Champagne & Limousines', sans-serif;
  src: url('/assets/fonts/Champagne_Limousines/Champagne & Limousines Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir', sans-serif;
  src: url('/assets/fonts/Avenir/AvenirLTStd-Book.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir', sans-serif;
  src: url('/assets/fonts/Avenir/AvenirLTStd-Roman.otf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir', sans-serif;
  src: url('/assets/fonts/Avenir/AvenirLTStd-Black.otf');
  font-style: normal;
  font-weight: 700;
}

.font-2 {
  font-family: 'Barlow', sans-serif;
}

.font-3 {
  font-family: 'Barlow Condensed', sans-serif;}