---
layout: default

---

{%- comment -%} {%- endcomment -%}

{% include home-desktop.html %}

{% assign hero = site.sections | where: "_title", "Home" | first %}

<div class="site-mobile d-lg-none d-md-flex">
<section class="hero vh-100">

	<p class="hero-bg-scroller">ProdiGii Concepts</p>

	
	<div class="particles-scroller">
		<div class="big-particles-1 particles-left">
			<div class="small-bottom"></div>
			<div class="base"></div>
			<div class="small-top"></div>
		</div>

		<div class="big-particles-1 particles-position-2 particles-right">
			<div class="small-bottom"></div>
			<div class="base"></div>
			<div class="small-top"></div>
		</div>
	</div>

	<div class="h-100 d-flex flex-row ">

		<div class="row d-flex align-content-center flex-row">
			<div class="hero-img-container vw-100 d-flex justify-content-center my-0 ml-4">
					<img class="hero-logo" style="width: 80%;" src="{{ 'assets/images/logos/PRODIGII LOGO_PRODIGII C WHITE.png' | relative_url}}" />
			</div>

			<div class="hero-feature-carousel row d-flex align-items-center flex-row flex-nowrap ml-5 my-5">
				<div class="col col-9 mr-2">
					<h1 class="hero-title text-center" >
						Uniquely Crafted Antiguan Designs
					</h1>
				</div>

				{% for item in hero.featuredNav %}

				<div class="col col-11 mx-2 hero-img-framed d-flex justify-content-center align-items-end">
					<img class="img-fluid" src="{{ item.img }}" alt="">
					<button type="button" class="btn btn-primary hero-button">{{ item.label }}</button>
				</div>

				{% endfor %}

			</div>
		</div>


	</div>

</section>

<section class="about-section py-5">

	<div class="about-section-content">
		<div class="d-flex align-items-center flex-column">
			<h5 class="text-muted mb-3 mt-5 text-center">The Owner</h5>
			<h1 class="name mb-5 text-center">Rogierre Emmanuel</h1>				
		</div>

		<div class="info row m-0">
			<img class="" src="{{ 'assets/images/portfolio/profile.jpg' | relative_url}}" alt="">
			<p class="col-lg-6 col-md-12 col-sm-12 mt-5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo tortor leo viverra pellentesque at sit volutpat enim ultrices. Vitae parturient fames aenean integer cras justo, mauris lacus. Quis ac dictumst at at sit. Id parturient consectetur integer risus tristique. Nibh ornare bibendum euismod facilisi bibendum nunc, consequat, aliquam. Duis eros, quisque vestibulum sapien leo, et a.
			</p>
		</div>
		<div class="footer">

		</div>

	</div>
</section>

<section class="portfolio-section">

	{% assign work = site.sections | where: "_title", "Work" | first %}

	<div class="portfolio-section-slice slice-1">
		<div class=" portfolio-row row1 row">
			{% assign row = work.slice1.images | | slice: 0, 2 %}
			{% for item in row %}
			<div class="col-6 portfolio-item">
				<img src="{{ item.img }}" alt="">
				<div class="portfolio-item-overlay"><h5>{{ item.label }}</h5></div>
			</div>
			{% endfor %}
		</div>
		<div class="portfolio-row row2 row">
			<div class="col-12 portfolio-item">
				{% assign title = work.slice1.featured %}
				<img src="{{ title.img }}" alt="">
				<div class="portfolio-item-overlay"><h5>{{ title.label }}</h5></div>
			</div>	
		</div>
		<div class="portfolio-row row3 row">
			{% assign row = work.slice1.images | | slice: 2, 2 %}
			{% for item in row %}
			<div class="col-6 portfolio-item">
				<img src="{{ item.img }}" alt="">
				<div class="portfolio-item-overlay"><h5>{{ item.label }}</h5></div>
			</div>
			{% endfor %}
		</div>			
	</div>

	<div class="portfolio-section-slice slice-2">
		<div class="portfolio-row row1 row">
			<div class="col-12 portfolio-item">
				<div class="portfolio-item-overlay"><h5>Creative <strong>Work</strong></h5></div>
			</div>
		</div>
		<div class=" portfolio-row row2 row">
			{% assign row = work.slice1.images | | slice: 0, 2 %}
			{% for item in row %}
			<div class="col-6 portfolio-item">
				<img src="{{ item.img }}" alt="">
				<div class="portfolio-item-overlay"><h5>{{ item.label }}</h5></div>
			</div>
			{% endfor %}
		</div>
		<div class=" portfolio-row row2 row">
			<div class="col-12 portfolio-item">
				{% assign title = work.slice2.featured %}
				<img src="{{ title.img }}" alt="">
				<div class="portfolio-item-overlay"><h5>{{ title.label }}</h5></div>
			</div>	
		</div>	
	</div>

	<div class="portfolio-section-slice slice-3">
		<div class=" portfolio-row row1 row">
			{% assign row = work.slice3.images | | slice: 0, 2 %}
			{% for item in row %}
			<div class="col-6 portfolio-item">
				<img src="{{ item.img }}" alt="">
				<div class="portfolio-item-overlay"><h5>{{ item.label }}</h5></div>
			</div>
			{% endfor %}
		</div>
		<div class="portfolio-row row2 row">
			<div class="col-12 portfolio-item">
				{% assign title = work.slice3.featured %}
				<img src="{{ title.img }}" alt="">
				<div class="portfolio-item-overlay"><h5>{{ title.label }}</h5></div>
			</div>
		</div>
		<div class="portfolio-row row3 row">
			{% assign row = work.slice3.images | | slice: 2, 2 %}
			{% for item in row %}
			<div class="col-6 portfolio-item">
				<img src="{{ item.img }}" alt="">
				<div class="portfolio-item-overlay"><h5>{{ item.label }}</h5></div>
			</div>
			{% endfor %}
		</div>			
	</div>

</section>
<section class="contact-section">
	<div class="contact-section-content p-4 m-5">
		<h2 class="contact-section-title m-0 mb-3">Have a project?</h2>			
		<h2 class="contact-section-title m-0 mb-5"><strong>Let’s Work.</strong></h2>				
	
		<div class="buttons">
			<div class="row">
				<button class="btn btn-primary color-1">I need help with branding</button>
				<button class="btn btn-primary color-2">I need to liven up my walls</button>					
			</div>

			<div class="row">
				<button class="btn btn-primary color-1">I need an outfit for my birthday</button>
				<button class="btn btn-primary color-2">I Need something else</button>					
			</div>

				
		</div>

		<h3 class="mt-4">"Where Intellegence meets Creativity"</h3>

	</div>
</section>


	<!-- <section class="section-contact">
		<div id="contact" class="m-0 contact-area">
			<div class="contact-inner area-padding">
				<div class="contact-overly"></div>
				<div class="container  pt-5">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 my-5 mt-5">
							<div class="section-headline text-center ">
								<h2 class="text-light">Let's have a talk</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="contact-icon text-center">
								<div class="single-icon">
									<i class="fa fa-mobile"></i>
									<p>
										Call: {{ site.phone }} 
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="contact-icon text-center">
								<div class="single-icon">
									<i class="fa fa-envelope-o"></i>
									<p>
										Email: {{site.email}}<br>
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="contact-icon text-center">
								<div class="single-icon">
									<i class="fa fa-map-marker"></i>
									<p>
										Location: {{site.address}}<br>
										<span>Antigua, W.I</span>
									</p>
								</div>
							</div>
						</div>
					</div>	
		
				</div>
			</div>
		</div>		
	</section> -->
</div>

